:root {
  --color-base: #2e2f42;
  --color-white: #ffffff;
  --color-blue: #4d5ae5;
  --color-text: #434455;
  --color-team: #f4f4fd;
  --color-ocean: #404bbf;
  --color-cornflower: #e7e9fc;
  /* --color-header: #e7e9fc;*/
}
.base {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  background-color: var(--color-white);
}
/*header*/
/*.header {
  background-color: var(--color-header);
}*/
.web {
  font-family: "Raleway", sans-serif;
  color: var(--color-blue);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.studio-header {
  color: var(--color-base);
  font-family: "Raleway", sans-serif;
}
.studio-footer {
  color: var(--color-team);
  font-family: "Raleway", sans-serif;
}
.navigation {
  color: var(--color-base);
  font-weight: 500;
  line-height: 1.5;
  list-style-type: none;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.contacts {
  color: var(--color-text);
  line-height: 1.5;
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
}

.navigation:hover,
.navigation:focus,
.contacts:hover,
.contacts:focus {
  color: var(--color-ocean);
}
.addres {
  font-style: normal;
}
/*main*/
.hero {
  background-color: var(--color-base);
}
.hero-name {
  color: var(--color-white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.but {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
}
.but:hover,
.but:focus {
  background-color: var(--color-ocean);
}
.quality-name {
  color: var(--color-base);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.quality-text {
  color: var(--color-text);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.work-name {
  color: var(--color-base);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team {
  background-color: var(--color-team);
}
.team-section {
  background-color: var(--color-white);
}
/*footer*/
.text-footer {
  color: var(--color-team);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*portfolio-main*/
.button-portfolio {
  background-color: var(--color-team);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-blue);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-portfolio:focus,
.button-portfolio:hover {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
