:root {
  --color-base: #2e2f42;
  --color-white: #ffffff;
  --color-blue: #4d5ae5;
  --color-text: #434455;
  --color-team: #f4f4fd;
  --color-ocean: #404bbf;
  --color-cornflower: #e7e9fc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.base {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  background-color: var(--color-white);
  width: 1440px;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 120px;
}
/*header*/
/*.header {
  background-color: var(--color-header);
}*/
.web {
  font-family: "Raleway", sans-serif;
  color: var(--color-blue);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.studio-header {
  color: var(--color-base);
  font-family: "Raleway", sans-serif;
  padding-right: 76px;
}
.studio-footer {
  color: var(--color-team);
  font-family: "Raleway", sans-serif;
}
.navigation {
  color: var(--color-base);
  font-weight: 500;
  line-height: 1.5;
  list-style-type: none;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.contacts {
  color: var(--color-text);
  line-height: 1.5;
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
}

.navigation:hover,
.navigation:focus,
.contacts:hover,
.contacts:focus {
  color: var(--color-ocean);
}
.addres {
  font-style: normal;
}
/*main*/
.hero {
  background-color: var(--color-base);
}
.hero-name {
  color: var(--color-white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  padding-top: 188px;
}
.but {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  padding: 16px 32px;
}

.but:hover,
.but:focus {
  background-color: var(--color-ocean);
}
.container-but {
  padding-top: 48px;
  padding-bottom: 188px;
  display: flex;
  justify-content: center;
}
.quality-name {
  color: var(--color-base);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 32px 16px 8px 16px;
}

.quality-text {
  color: var(--color-text);
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0 16px 32px 16px;
}
.container-text {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-basis: 264px;
}

.work-name {
  color: var(--color-base);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
}
.team {
  background-color: var(--color-team);
}
.team-section {
  background-color: var(--color-white);
}
.container-team {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
  text-align: center;
}
/*footer*/

.text-footer {
  color: var(--color-team);
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 17.5px;
  padding-bottom: 100px;
  width: 264px;
}
/*portfolio-main*/
.button-portfolio {
  background-color: var(--color-team);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-blue);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--color-cornflower);
}
.button-portfolio:focus,
.button-portfolio:hover {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.nav-items {
  display: flex;
  gap: 40px;
}
.container-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-cornflower);
  line-height: 4;
}
.nav-contacts {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}
.container-name {
  display: flex;
  gap: 24px;
  padding-bottom: 240px;
}
.container-footer {
  padding-top: 101.5px;
  margin-left: 150px;
  margin-right: 150px;
  flex-shrink: 0;
}
.container-but-portfolio {
  display: flex;
  gap: 24px;
  padding-top: 96px;
  justify-content: center;
  align-items: center;
}
.container-img-portfolio {
  display: flex;
  flex-wrap: wrap;
  padding-top: 72px;
  padding-bottom: 120px;
  row-gap: 48px;
  column-gap: 24px;
}
.img-portfolio {
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--color-cornflower);
}
